In [14]:
import pandas as pd
import numpy as np
import seaborn as sns
from pandas import DataFrame
from wordcloud import WordCloud, STOPWORDS
import matplotlib.pyplot as plt
#Exploring the data from Times higher education
data  = pd.read_csv("Screen -Nov[4].csv")
print("The dimension of the table is ", data.shape)
data.head()
data.describe()
data.info()
missing_data = data.dropna(inplace=True)
missing_data

The dimension of the table is  (4587, 6)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4587 entries, 0 to 4586
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Name         4587 non-null   object
 1   Ticker       4587 non-null   object
 2   Sub-Sector   2106 non-null   object
 3   Market Cap   4387 non-null   float64
 4   Close Price  4480 non-null   float64
 5   PE Ratio     4437 non-null   float64
dtypes: float64(3), object(3)
memory usage: 215.1+ KB

In [15]:
data.head()

                            Name      Ticker  ... Close Price   PE Ratio
0        Reliance Industries Ltd    RELIANCE  ...     2412.60  32.760544
1  Tata Consultancy Services Ltd         TCS  ...     3446.85  39.315681
2                  HDFC Bank Ltd    HDFCBANK  ...     1489.90  25.933546
3                    Infosys Ltd        INFY  ...     1691.65  36.634773
4         Hindustan Unilever Ltd  HINDUNILVR  ...     2335.10  68.624522

[5 rows x 6 columns]

In [25]:
# 10 Biggest companies by market cap
data.sort_values(by='Market Cap', ascending=False).head(10)

                                          Name  ...   PE Ratio
0                      Reliance Industries Ltd  ...  32.760544
1                Tata Consultancy Services Ltd  ...  39.315681
2                                HDFC Bank Ltd  ...  25.933546
3                                  Infosys Ltd  ...  36.634773
4                       Hindustan Unilever Ltd  ...  68.624522
5                               ICICI Bank Ltd  ...  27.264319
6  Housing Development Finance Corporation Ltd  ...  26.481260
7                            Bharti Airtel Ltd  ... -31.799857
8                          State Bank of India  ...  18.741109
9                            Bajaj Finance Ltd  ...  92.799414

[10 rows x 6 columns]

In [26]:
# 10 Biggest companies by PE ratio cap
data.sort_values(by='PE Ratio', ascending=False).head(10)

                                  Name      Ticker  ... Close Price       PE Ratio
446        Rattanindia Enterprises Ltd    RTNINDIA  ...       46.25  639299.686300
1482                    Art Nirman Ltd   ARTNIRMAN  ...      109.35   27289.386000
1122             Snowman Logistics Ltd     SNOWMAN  ...       39.65   11041.731670
1392           Linc Pen & Plastics Ltd     LINCPEN  ...      227.40    8454.897434
2661              Kshitij Polyline Ltd  KSHITIJPOL  ...       33.20    3363.314712
1850                    Penta Gold Ltd   PENTAGOLD  ...      105.00    2672.250000
875   Federal-Mogul Goetze (India) Ltd    FMGOETZE  ...      243.05    2503.960962
949       Lloyds Steels Industries Ltd        LSIL  ...       11.95    2105.773660
1999    Patel Integrated Logistics Ltd   PATINTLOG  ...       15.45    2040.511627
1532                  Career Point Ltd     CAREERP  ...      137.45    1923.553435

[10 rows x 6 columns]

In [28]:
# 10 Biggest companies by close price
data.sort_values(by='Close Price', ascending=False).head(10)

                                             Name  ...    PE Ratio
154                                       MRF Ltd  ...   24.970873
142                Honeywell Automation India Ltd  ...   75.837623
109                           Page Industries Ltd  ...  127.635336
53                               Shree Cement Ltd  ...   40.953504
171                                  3M India Ltd  ...  174.709519
120                              Abbott India Ltd  ...   60.242197
24                               Nestle India Ltd  ...   88.998286
16                              Bajaj Finserv Ltd  ...   59.307338
102                                     Bosch Ltd  ...   98.989712
98   Procter & Gamble Hygiene and Health Care Ltd  ...   75.291586

[10 rows x 6 columns]